* {
    padding:0;
    margin:0;
    font-family:Arial, sans-serif;
}

form {
    padding:20px;
}

form div {
    margin-top:10px;
}

label {
    display:inline-block;
}

input {
    border-radius:5px;
    border-color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="text"], input[type="number"], input[type="submit"], select {
    height:25px;
    font-size:1em;
    padding:4px;
    width:95%;
    border:1px solid #ccc;
}

 input[type="submit"] {
    padding:10px;
    height:inherit;
    background-color:#7db54a;
    width:100%;
 }

select {
    height:33px;
}

@media screen and (min-width:420px) {
    input[type="text"], input[type="number"], input[type="submit"], select {
        width:200px;
    }
    label {
        width:150px;
    }
    .radioAndCheckBoxLabel {
        width:inherit;
    }

}

/* START NEW CODE */
h1 {
  text-align: center;
  clear: both;
}

h2 {
  margin-top: 15px;
  margin-bottom: 5px;
}

ol {
  margin-left: 50px;
}


.instructions {
  margin-top: 25px;
  margin-left: 10px;
}

.form-section {
  padding: 10px;
}

.err-msg {
  color: red;
  margin-left: 5px;
}

#othertitle {
  display: none;
}

label[for="othertitle"] {
  display: none;
}

#submit-error {
  color: red;
  display: none;
}
