/*
The stylesheet used for the production website.

Document by Marcus Belcastro (19185398) |
TWA class: KW @ Tue 4pm with Kieran Luken |
TWA Assignment 1 |
*/

html {
  background-color: #c1f3fa; /* Light blue background */
  font-family: 'Cabin', sans-serif;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

body > article {
  /*
    3em - footer height
    2.125em - header height
    3.625em - h1
    3*15px - padding top and bottom for header and padding for footer
    100px - header and footer margin
  */
  min-height: calc(100% - 3em - 2.125em - 3.625em - 100px - 4*15px);
  width: 75%;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  body > article {
    width: 100%;
  }
}

header {
  width: 100%;
}

nav {
  background-color: #2785e3; /* Darker blue background */
  width: calc(100% - 15px); /* Counteract the padding-left */
  height: 2.125em;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
}

nav a, nav a:visited {
  color: #fab319; /* Bright orange text color, doesn't change when links are clicked */
  font-size: 28px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 700px) {
  nav a, nav a:visited {
    font-size: 20px;
  }
}

.current-nav-page, nav a:hover {
  color: #fa7f14; /* Darker orange for hovering over links and current pages */
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 35px;
  margin-top: 0px;
}

label {
  display: inline-block;
  width: 10%;
  min-width: 150px;
  font-size: 20px;
}

form {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

select {
  width: 200px;
  height: 40px;
}

input {
  margin-bottom: 5px;
}

input[type='text'], input[type='password'] {
  width: 10%;
  min-width: 150px;
}

input[type='submit'] {
  margin-top: 10px;
  min-width: 75px;
  background-color: #353535; /* Gunmetal grey buttons */
  border-style: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-size: 18px;
}

iframe {
  width: 100%;
  max-width: 420px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #2785e3; /* Darker blue background */
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 50px;
  height: 3em;
}

footer > p {
  text-align: center;
  font-size: 16px;
}

footer a {
  text-decoration: none;
  color: #fab319;
}

.separator {
  font-size: 28px;
}

.orange-text {
  color: #fab319; /* Bright orange text color */
}

.login-logout-section {
  float: right;
  margin-right: 30px;
  overflow: auto;
}

.login-logout-section > img {
  width: 1.75em;
  height 1.75em;
  max-height: 100%;
  /* Fixes a minor issue where the image does not match the same positon the text starts*/
  position: relative;
  top: 5px;
}

.form-section {
  text-align: center;
  width: 100%;
}

.search-results > h2 {
  position: relative;
  top: 30px;
  margin-bottom: 0px;
}

.result-section {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  border-top: 2px;
  border-top-style: solid;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-color: black;
  overflow: auto;
}

.result-section img {
  width: auto;
  height: 8em;
  float: left;
  padding: 15px;
}

.result-section > article {
  padding-top: 0px;
  margin-top: 0px;
  overflow: auto;
}

/* Colour all links in search results as black */
.result-section > article > p > a:visited, .result-section > article > p > a {
  color: black;
  text-decoration: none;
}

.result-section > article > p:nth-child(2) {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.result-section > article > p:nth-child(3) {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.result-section > article > p:nth-child(4) {
  font-size: 20px;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
}

.play-information {
  margin-bottom: 50px;
}

.play-information > p {
  text-align: center;
}

.play-information > p:last-child {
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px;
  border-bottom-style: solid;
}

.play-information > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  min-height: 250px;
  max-height: 450px;
  max-height: 450px;
}

.no-results-err-msg {
  display: block;
  text-align: center;
  font-size: 24px;
}

/*
Heading classes are indended to turn p-tags into headings where semantic h-tags are
not appropriate to be used.
*/
.heading-top {
  font-size: 28px;
  font-weight: bold;
}

.heading-mid {
  font-size: 24px;
}

.heading-sub {
  font-size: 18px;
  font-style: italic;
}

.prompt {
  border-style: solid;
  border-radius: 8px;
  overflow: auto;
}

.prompt > p {
  font-size: 24px;
  text-align: center;
  color: white;
}

.prompt > img {
  padding: 5px;
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
}

.fail {
  /* Light red background, dark red border */
  background-color: #b01c1c;
  border-color: #6b0000;
}

.success {
  /* Light green background, dark green border */
  background-color: #009d3f;
  border-color: #005221;
}

/* Error styling */
.submit-error, .err-msg {
  display: inline-block;
  color: red;
}

#search-bar {
  border: solid;
  border-width: 2px;
  border-color: #353535; /* Gunmetal grey search bar border */
  border-radius: 0px;
  padding: 8px;
  margin: 0px;
  width: 40%;
  height: 22px;
  /* fix positioning issues with input button elements */
  position: relative;
  left: 4px;
  bottom: 2px;
}

#search-button {
  /* Get rid of the smoothing on the left side of the button */
  border-radius: 0px 8px 8px 0px;
  margin: 0px;
  height: 42px;
}
