/*
  Document by Marcus Belcastro (19185398) |

  TWA class: KW @ Tue 4pm with Kieran Luken |

  TWA Week 7 Practical Exercises |
*/

body {
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    font-size:1em;
    background-color:#ffffff;
    color:#000000;
}

form, #output {
    margin:20px;
    padding: 10px;
    width: 50%;
}

input, textarea {
    border-radius:5px;
    border:1px solid #ccc;
}

input[type="text"], input[type="password"], textarea, select {
    width:250px;
    padding:3px;
    font-size:1em;
}

input[type="submit"] {
    padding:6px;
    font-size:1em;
    background-color: #7db54a;
    color: #ffffff;
}

label {
    display:inline-block;
    width:200px;
}

h1 {
    background-color: #7db54a;
    color: #ffffff;
    margin:20px;
    padding: 10px;
    border-radius:5px;
    display: inline-block;
}

#output {
   width :50%;
   color: #7db54a;
}
