body {
  background-color: white;

  font-family: Raleway, verdana, arial, sans-serif;
  font-size: 100%;
  color: black;

  margin-left: 75px;
  margin-right: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-width: 1px;
  border-style: solid;
  border-color: #172457;
  border-radius: 15px;
}


h1 {
  font-size: 220%;
  color: #172457;
  text-align: center;
}


h2 {
  font-family: georgia;
  font-size: 160%;
  text-transform: capitalize;
  color: #7B85AD;
}


h3 {
  font-family: georgia;
  font-size: 120%;
  color: gray;
}


p {
  text-align: justify;
}


p, ol, ul {
  line-height: 1.5;
}


ol > li {
  padding-left: 15px;
  padding-right: 15px;
}


a {
  color: black;
  font-style: italic;
}


a:visited {
  color: #7B85AD;
}


header {
  border-bottom: 2px solid black;
}


section {
  clear: right;
}


figure {
  margin: auto;
  width: 744px;
}


figcaption {
  width: inherit;
  text-align: justify;
  font-size: 70%;
  font-style: italic;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}


nav {
  clear: both;
  background-color: #172457;
  border-style: hidden;
  border-radius: 5px;
}


nav a {
  display: inline-block;
  font-size: 120%;
  font-style: normal;
  text-align: center;
  background-color: #172457;
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}


nav a:hover {
  background-color: #7B85AD;
}


/* overwrite general anchor tag visitation colour */
nav a:visited {
  color: white;
}


#task-info {
  display: inline-block;
  float: right;
  margin: 0;
  font-size: 70%;
  font-style: italic;
  color: #7B85AD;
  padding-bottom: 10px;
}


.fig-img {
  width: inherit;
}


#desal-cap {
  border-style: none;
}


#sub-fig {
  width: 250px;
  float: right;
  margin-left: 40px;
  margin-top: 0px;
  margin-right: 0px;
}


#box1 {
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  border-color: #172457;
  padding-left: 15px;
  padding-right: 15px;
}


#copyright {
  font-size: 70%;
  color: white;
  background-color: #7B85AD;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-style: hidden;
  border-radius: 5px;
}
